<link href="~/Content/AboutStyleSheet.css" rel="stylesheet" />
@{
    ViewBag.Title = "AboutUs";
}

<div id="about">
    <h2>About the project</h2>
    <p>
        We are a group of bird enthusiasts interested in building and maintaining habitats for all bird species.
        We are currently focused on the Northern Flicker, but plan to expand our citizen scientist project to other species.
        Thank you for your support!
    </p>
</div>

